{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block auth %}
<div class="login-content">
     <h1>Log-in</h1>
    <p>Please, use the following form to log-in.<br> If you don't have an account <a href="{% url 'register' %}" class="d_link">register here</a></p>
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Log-in"></p>
        </form>
    </div>
    <p><a href="{% url 'password_reset' %}" class="d_link">Forgotten your password?</a></p>
</div>
{% endblock %}